$dark-grey: #333;
$blue-grey: #f6f7fc;
$yellow: #f9d423;
$red: rgb(255, 61, 127);
$blue: rgb(40, 215, 203);
$green: #85e1c8;
$purple: rgb(117, 113, 241);

$light-weight: 200;
$normal-weight: 300;
$heavy-weight: 800;

@mixin mobile {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin mobile-lg {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@keyframes bgcolorchange {
  0% {
    background: $yellow;
  }
  20% {
    background: $yellow;
  }
  40% {
    background: $red;
  }
  60% {
    background: $purple;
  }
  80% {
    background: $blue;
  }
  100% {
    background: $green;
  }
}
@-webkit-keyframes bgcolorchange {
  0% {
    background: $yellow;
  }
  20% {
    background: $yellow;
  }
  40% {
    background: $red;
  }
  60% {
    background: $purple;
  }
  80% {
    background: $blue;
  }
  100% {
    background: $green;
  }
}

body {
  background-color: $blue-grey;
  color: $dark-grey;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
  width: 100%;
}

.container-fluid {
  &.no-padding {
    padding: 0;
  }
}

.light {
  font-weight: $light-weight;
}

.btn {
  margin: 6px auto;
}

.hero {
  animation: bgcolorchange 60s infinite alternate;
  -webkit-animation: bgcolorchange 60s infinite alternate;
  clip-path: polygon(0 0, 1600px 0, 1600px 85%, 0 100%);
  -webkit-clip-path: polygon(0 0, 2900px 0, 2900px 80%, 0 100%);
  min-height: 400px;
  height: 50vh;
  margin-bottom: 20px;
  > .row {
    align-items: center;
    height: 100%;
  }
  @include mobile {
    > div {
      flex-direction: column;
      flex-flow: column-reverse;
    }
  }
  @include tablet {
    margin-bottom: -20px;
  }
}

.hero__image {
  text-align: right;
  img {
    height: 200px;
    width: auto;
    @include tablet {
      height: 400px;
      position: relative;
      top: 30px;
    }
  }
}

.align-bottom {
  align-self: flex-end;
  @include mobile {
    align-self: flex-start;
  }
}

.hero__intro {
  text-align: left;
  h1 {
    color: rgba($dark-grey, 0.5);
    font-size: 64px;
    font-weight: $light-weight;
    margin-bottom: 27px;
    .hero__intro--selected-language {
      color: $dark-grey;
      border-bottom: 9px solid $dark-grey;
      font-weight: 600;
    }
  }
  h2 {
    font-size: 42px;
    font-weight: $heavy-weight;
    margin-bottom: 18px;
  }
  h3 {
    font-size: 18px;
    font-weight: $light-weight;
  }
  @include mobile {
    text-align: right;
    margin: 0 16px 0 auto;
    width: 66.3%;
  }
}

section {
  padding: 18px 9px;
  @include tablet {
    padding: 48px 0;
  }
  h2 {
    font-size: 58px;
    font-weight: $heavy-weight;
    margin-bottom: 36px;
    @include tablet {
      margin-bottom: 64px;
    }
  }
  &.dark {
    color: #fff;
    background: $dark-grey;
  }
}

.skill {
  margin-bottom: 32px;
  text-align: left;
  @include mobile {
    text-align: center;
  }
  i {
    font-size: 32px;
    margin-bottom: 18px;
  }
  h3 {
    font-size: 24px;
    font-weight: $heavy-weight;
  }
  p {
    font-size: 16px;
    font-weight: $light-weight;
  }
}

.project {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  text-align: left;
  @include tablet {
    margin-bottom: 64px;
  }
  h3 {
    font-size: 32px;
    font-weight: $heavy-weight;
  }
  h4 {
    font-size: 24px;
    font-weight: $light-weight;
  }
  p {
    font-size: 14px;
    font-weight: $light-weight;
  }
  @include tablet {
    &.flip > .row {
      text-align: right;
      flex-flow: row-reverse;
    }
  }
}

.project__image {
  height: auto;
  width: 100%;
}

.experience {
  @extend .skill;
  text-align: left;
  h4 {
    font-weight: $heavy-weight;
  }
  h5 {
    font-size: 18px;
    font-weight: $light-weight;
  }
  p,
  ul {
    font-size: 14px;
    font-weight: $light-weight;
  }
  ul {
    list-style-type: none;
    padding: 5px 10px;
    > li {
      text-indent: -10px;
      &:before {
        content: "-";
        padding-right: 4px;
      }
    }
  }
}

.link-colored {
  animation: bgcolorchange 60s infinite alternate;
  -webkit-animation: bgcolorchange 60s infinite alternate;
  border: none;
  margin-bottom: 64px;
  i {
    margin-right: 6px;
  }
}

.contact {
  p {
    font-size: 18px;
    font-weight: $light-weight;
  }
  #form-message,
  #success-message,
  #error-message {
    display: none;
  }
  .g-recaptcha > div {
    margin: 0 auto 16px auto;
  }
}

footer {
  align-items: center;
  background: $dark-grey;
  color: darken($blue-grey, 10%);
  font-size: 12px;
  font-weight: $light-weight;
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: center;
  text-align: center;
}
