$dark-grey: #333;
$blue-grey: #f6f7fc;
$yellow: #f9d423;
$orange: rgb(252, 145, 58);
$red: rgb(255, 61, 127);
$blue: rgb(40, 215, 203);
$green: #85e1c8;
$purple: rgb(117, 113, 241);

$light-weight: 200;
$normal-weight: 300;
$heavy-weight: 800;

@keyframes bgcolorchange {
  0% {
    background: $yellow;
  }
  20% {
    background: $orange;
  }
  40% {
    background: $red;
  }
  60% {
    background: $purple;
  }
  80% {
    background: $blue;
  }
  100% {
    background: $green;
  }
}
@-webkit-keyframes bgcolorchange {
  0% {
    background: $yellow;
  }
  20% {
    background: $orange;
  }
  40% {
    background: $red;
  }
  60% {
    background: $purple;
  }
  80% {
    background: $blue;
  }
  100% {
    background: $green;
  }
}

body {
  background-color: $blue-grey;
  color: $dark-grey;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

.light {
  font-weight: $light-weight;
}

.hero {
  animation: bgcolorchange 60s infinite alternate;
  -webkit-animation: bgcolorchange 60s infinite alternate;
  clip-path: polygon(0 0, 1600px 0, 1600px 85%, 0 100%);
  -webkit-clip-path: polygon(0 0, 2900px 0, 2900px 80%, 0 100%);
  min-height: 400px;
  height: 50vh;
  margin-bottom: -20px;
  > .row {
    height: 100%;
  }
}

.hero__image {
  text-align: right;
  img {
    height: 400px;
    width: auto;
  }
}

.align-bottom {
  align-self: flex-end;
}

.hero__intro {
  text-align: left;
  h1 {
    color: rgba($dark-grey, 0.5);
    font-size: 64px;
    font-weight: $light-weight;
    margin-bottom: 27px;
    .hero__intro--selected-language {
      color: $dark-grey;
      border-bottom: 9px solid $dark-grey;
      font-weight: 600;
    }
  }
  h2 {
    font-size: 42px;
    font-weight: $heavy-weight;
    margin-bottom: 18px;
  }
  h3 {
    font-size: 18px;
    font-weight: $light-weight;
  }
}

section {
  padding: 36px 0;
  h2 {
    font-weight: $heavy-weight;
    margin-bottom: 64px;
  }
  &.dark {
    color: #fff;
    background: $dark-grey;
  }
}

.skill {
  margin-bottom: 64px;
  text-align: left;
  i {
    font-size: 32px;
    margin-bottom: 18px;
  }
  h3 {
    font-size: 24px;
    font-weight: $heavy-weight;
  }
  p {
    font-size: 16px;
    font-weight: $light-weight;
  }
}

.project {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;
  text-align: left;
  h3 {
    font-size: 32px;
    font-weight: $heavy-weight;
  }
  h4 {
    font-size: 24px;
    font-weight: $light-weight;
  }
  p {
    font-size: 14px;
    font-weight: $light-weight;
  }
  &.flip {
    text-align: right;
    flex-flow: row-reverse;
  }
}

.project__image {
  height: auto;
  width: 100%;
}
