<div class="stick-bottom">
  <div class="cookie-warning">
    <p>I use cookies to analyze traffic to my website. Your consent to collecting this data is implied if you continue to use this website.</p>
    <a href="#" id="accept-cookies" class="btn btn-outline-secondary">Accept</a>
  </div>
</div>