---
title: Welcome | Shaun Jacobsen
---
<div class="row no-gutters">
  <div class="col">
    <div class="hero">
      <div class="row align-items-center">
        <div class="col">
          <div class="hero__image">
            image
          </div>
        </div>
        <div class="col-7">
          <div class="hero__intro">
            <h1><span class="hero__intro--selected-language">Hello</span> Bonjour</h1>
            <h2><span class="light"><%= t(:my_name_is) %></span> Shaun Jacobsen</h2>
            <h3>Full-stack software developer, entrepreneur, and urbanist.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "skills" %>